.table {
	margin-top: 10px;
    margin-right: auto;
    margin-left: 10px;
}

th {
    padding: 10px;
    background-color: #1e1e86;
    color: white;
}

td {
    padding: 4px;
    margin: 4px;
    background-color:lightgrey;
}